@use '../../../../assets/styles/variables.scss' as *;

:host {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.logo, .value, .icon {
    @include select-animation();
}

@media screen and (max-width: 600px) {
    .value {
        display: none;
    }
    .icon {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    .value {
        display: block;
    }
    .icon {
        display: none;
    }
}